snippet defmod "Elixir Module" b
defmodule $1 do
	@moduledoc """
	$2
	"""

	# @behavior
	# use
	# import
	# alias
	# require
	# defstruct
	# @type
	# @module_attribute
	# @callback
end
endsnippet

snippet def "Elixir function" b
@doc """
$3

## Examples

	iex>$4
	$5
"""
def $1($2) do
  $6
end
endsnippet

