"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "linter-flow"
      "linter"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "PragmataPro"
    tabLength: 4
  "exception-reporting":
    userId: "3fc6a2df-075d-c4c5-6cac-f00afe31e117"
  "gruvbox-plus-syntax":
    contrast: "Soft"
  "ide-flow":
    flowPath: "/usr/local/bin/flow"
  linter:
    lintOnFly: false
  "linter-flow":
    executablePath: "./node_modules/.bin/flow"
  nuclide:
    "nuclide-home":
      showHome: false
    "nuclide-working-sets":
      workingSets: [
        {
          name: "Loudr Front"
          active: false
          uris: [
            "/Users/nickball/Projects/loudr-front"
          ]
        }
      ]
  welcome:
    showOnStartup: false
