"*":
  core:
    themes: [
      "atom-dark-ui"
      "gruvbox"
    ]
  editor:
    fontFamily: "EssentialPragmataPro"
    fontSize: 12
  "exception-reporting":
    userId: "3fc6a2df-075d-c4c5-6cac-f00afe31e117"
  welcome:
    showOnStartup: false
